@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítám vás</h1>
    <p>na webové stránce projektu <a asp-controller="Players" asp-action="Index">Šachisté</a>.</p>
    <p><strong>Autor: <a href ="https://moodle.czu.cz/user/profile.php?id=75887">Kuchiyev Felix</a>.</strong></p>
</div>
