@using ChessPlayersRatingApp.Data
@using System.IO
@using static System.Net.Mime.MediaTypeNames
@model ChessPlayersRatingApp.Models.ViewModel.InformationView

@{
    AppDbContext db = new AppDbContext();
    string title = "Informace";
    string name = db.Players.Where(x => x.Id == Model.Information.PlayerId).FirstOrDefault().Name;

    string imreBase64Data = Convert.ToBase64String(Model.Information.Image);
    string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
    if (imgDataURL.Length < 50)
    {
        imgDataURL = "/img/no_image_icon.png";
    }
}
<script language="javascript" type="text/javascript">
    // <![CDATA[
    var buttonClicked = true;

    function Submit1_onclick() {
        document.getElementById("text").disabled = !buttonClicked;
        document.getElementById("save").hidden = !buttonClicked;
        document.getElementById("edit").hidden = buttonClicked;

        if (buttonClicked || !buttonClicked) {
            buttonClicked = !buttonClicked
        }
    }

    // ]]>
</script>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="border p-3">
        <form asp-action="Upsert">
            <input type="hidden" asp-for="Information.Id" />

            <div class="form-group row">
                <h2 class="text-info pl-3">@title</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                    <div class="team-single-img">
                        <img width="200px" src="@imgDataURL">
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Information.Player.Name"></label>
                        </div>
                        <div class="col-8">
                            <p>@name</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Information.BaseInfoText"></label>
                        </div>
                        <div class="col-8">
                            <textarea asp-for="Information.BaseInfoText" id="text" class="form-control summernote" style="height: 250px;" disabled=true></textarea>
                            <span asp-validation-for="Information.BaseInfoText" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4 ">

                    <button type="button" id="edit" class="btn btn-success" onclick="return Submit1_onclick()" >Edit</button>
                    <input type="submit" id="save" value="Upsert" class="btn btn-success" hidden=true  />|
                    <a asp-action="Index" class="btn btn-dark">Back to List</a>
                </div>
        </form>
    </div>
    </div>
</body>
</html>